body {
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(72, 146, 196);
    border-radius: 300px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border: 3px solid rgb(72, 146, 196);
    border-radius: 7px;
    background-color: rgb(72, 146, 196);
}

.stick {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 1px;
    border: 3px solid rgb(72, 146, 196);
    border-radius: 3px;
    background-color: rgb(72, 146, 196);
    transform: translate(-50%, -50%);
    transform-origin: center; /* точка обертання */
}

.stick:hover {
    transform: translate(-50%, -50%) rotate(360deg);
    transition: transform 1s ease 0.1s;
}