 .transit {
            display: inline-block;
            width:350px;
            height:200px;
            margin: 10px;
            background:#889fca;
            /* Налаштування transition для зміни всіх властивостей */
            transition: all 1s ease-in;
        }
        /* Part 1 */
        .fade{
            opacity:0.5;
        }
        .fade:hover {
            opacity:1;
        }
        .color:hover {
            background-color: blue;
        }

        .border:hover {
            box-shadow:  0 0 0 20px #ffcb5a inset;
            }

        .circle:hover {
            border-radius:50%;
        }
        
        /* Part 2 */
        .grow:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
        }
        .shrink:hover{
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }
        .rotate:hover{
            -webkit-transform: rotateZ(-30deg);
            -ms-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
        }
        .threed:hover{
            box-shadow:
                1px 1px #283b92,
                2px 2px #283b92,
                3px 3px #283b92;
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }

        /* Part 3 */
        @-webkit-keyframes swing{
            15%
            {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
            30%
            {
                -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
            }
            50%
            {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
            }
            65%
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
            80%
            {
                -webkit-transform: translateX(2px);
                transform: translateX(2px);
            }
            100%
            {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        @keyframes swing{
            15%
            {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
            30%
            {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }
            50%
            {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
            }
            65%
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
            80%
            {
                -webkit-transform: translateX(2px);
                transform: translateX(2px);
            }
            100%
            {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
        
        .swing:hover{
            -webkit-animation: swing 1s ease;
            animation: swing 1s ease;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
            }
        
        
        body{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #3f52a7;
            text-align: center;
        }    
        
        span{
            display: table-cell;
            width: inherit;
            height: inherit;
            text-align: center;
            vertical-align: middle;
            color:#ffffff;
            font-weight: bold; 
            font-size: 30px;
            
        }